h2 {
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem 0;
}

.box {
  padding: 1rem;
  margin: 1rem;
  border-left: 10px solid var(--charcoal);
  border-radius: 5px;
  background-color: var(--cream);
}
label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  resize: vertical;
}

textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  resize: vertical;
  max-height: 10rem;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.message-display {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--mint);
  margin: 1rem 0;
}

.reports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reports-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.reports-button {
  background-color: var(--mint);
  color: var(--charcoal);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}

.reports-button:hover {
  background-color: var(--orange);
}

.reports-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-left: 5px solid var(--orange);
  border-radius: 5px;
  background-color: var(--cream);
  position: relative;
}

.report-horizontal-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.documents-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

.report-item {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.report-item iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.report-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.report-item:hover .overlay {
  opacity: 1;
}


.form-container {
    text-align: right;  /* Aligns the form content to the right */
    margin: 20px;       /* Adds some space around the form */
}

.review-delete-container{
    position: relative;
    padding: 15px; /* Ensure there's padding so buttons don't overlap content */
    margin-bottom: 2px;
}

/* Style for both buttons, extracting common properties */
.delete-report_admin, .bring-to-review-button {
    position: absolute; /* Positioning relative to the report-container */
    bottom: 5px; /* 5px from the bottom to keep uniform */
    border-radius: 5px;
    border: none;
    padding: 0.35rem 0.75rem;
    color: white; /* White text for both buttons */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

/* Individual button background colors and unique positioning */
.delete-report_admin {
    right: 10px; /* Align to the right */
    background-color: #BB270FFF;
}

.bring-to-review-button {
    left: 10px; /* Align to the left */
    background-color: var(--orange); /* Using CSS variable for color */
    color: var(--charcoal); /* Using CSS variable for text color */
}

/* Hover effects for both buttons */
.delete-report_admin:hover {
    background-color: #FF1212FF; /* Red on hover */
}

.bring-to-review-button:hover {
    background-color: #FFB121FF; /* Lighter orange on hover */
    color: white;
}

