header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--charcoal);
  padding: 0.75rem;
  border-width: 0 0 2px 0;
  border-color: var(--mint);
  border-style: solid;
  position: sticky;  /* Makes the header sticky */
  top: 0;  /* Sets the top of the header to stick to the top of the viewport */
  z-index: 1000;  /* Ensures the header is above other content */
  box-shadow: 0 15px 6px rgba(0, 0, 0, 0.1);
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.title {
  color: var(--cream);
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.5rem;
  font-weight: bold;
  flex-grow: 1; /* Allows title to grow */
  padding: 0 1rem; /* Add padding to prevent text from touching the buttons */
  overflow: hidden; /* Prevents overflow */
  white-space: nowrap; /* Prevents text from wrapping */

}

.title strong {
  /* Setting up the animated gradient */
  background-image: linear-gradient(
    to right,
    var(--cream),
    var(--mint),
    var(--cream)
  );
  background-size: 300% auto; /* Makes sure the gradient is large enough to enable the sliding effect */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Hides the text color, showing the gradient */
  animation: gradient-animation 8s linear infinite; /* Adjust time as needed */
}

/* Responsive adjustments using a media query */
@media (max-width: 670px) {
    header {
    padding-left: 0.5rem; /* Reduced padding on the left */
    padding-right: 0.5rem; /* Reduced padding on the right if needed */
  }

  .title {
    font-size: 29px  ; /* Reduce font size on smaller screens */
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .nav-button {
    padding: 0.35rem 0.5rem; /* Reduce padding on smaller screens */
    font-size: smaller;
  }

}

.nav-button {
  border: none;
  background-color: var(--mint);

  border-radius: 5px;
  padding: 0.35rem 0.75rem;
  font-weight: bold;
  color: var(--charcoal);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.nav-button:hover {
  background-color: var(--orange);
  /* color: var(--cream); */
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.horizontal-container p {
  color: var(--cream);
  font-size: 1.2rem;
}
