{% load static %} {% include 'main/header.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'global/global.css' %}" />
    <link rel="stylesheet" href="{% static 'main/admin_view.css' %}" />
  </head>
  <body>
    <h2>Admin Dashboard</h2>
    <div class="box">
      <h3 class="section-title">Create Event</h3>
      <form method="POST">
        {% csrf_token %} {{ event_form.as_p }}
        <button type="submit" name="upload_button" class="reports-button">Create Event</button>
        {% if messages %} {% for message in messages %}
          {% if "Event created successfully" in message|safe %}
            <div {% if message.tags %} class="message-display" {% endif %}>
              {{ message }}
            </div>
          {% endif %}

        {% endfor %} {% endif %}
      </form>
    </div>
    <div class="box">
      <div class="reports-header">
        <h3 class="section-title">Reports <em>({{post_type}})</em></h3>
        <div class="reports-button-wrapper">
          <button id="newButton" class="reports-button" onclick="window.location.href='/admin_view/new';">
            New
        </button>
        <button id="inReviewButton" class="reports-button" onclick="window.location.href='/admin_view/in_review';">
            In Review
        </button>
        <button id="resolvedButton" class="reports-button" onclick="window.location.href='/admin_view/resolved';">
            Resolved
        </button>
        
        <style>
        .active-button {
            background-color: #FFC435;
        }
        </style>
        
        <script>
        window.onload = function() {
            if (window.location.href.endsWith('/admin_view/new/')) {
                document.getElementById('newButton').classList.add('active-button');
            } else if (window.location.href.endsWith('/admin_view/in_review/')) {
                document.getElementById('inReviewButton').classList.add('active-button');
            } else if (window.location.href.endsWith('/admin_view/resolved/')) {
                document.getElementById('resolvedButton').classList.add('active-button');
            }
        }
        </script>
        </div>
      </div>
      <div class="reports-wrapper">
        {% for report in reports %}
            {% if report.status == post_type %}
              <div class="report">
                <div class="report-horizontal-bar"> 
                  <h3>Event: {{ report.event.title }}</h3>
                  <div>
                    <p>Report Date: {{ report.date_time }}</p>
                    {% if report.user.first_name and report.user.last_name %}
                      <p>Reporter: {{ report.user.first_name }} {{ report.user.last_name }}</p>
                    {% elif report.user %}
                      <p>Reporter: {{ report.user }}</p>
                    {% else %}
                      <p>Reporter: Anonymous</p>
                    {% endif %}
                  </div>
                </div>
                <p>Report Description: {{ report.description }}</p>
                <div class="documents-view">
                  {% if report.images or report.txts or report.pdfs %}
                      {% for img in report.images %}
                        <div class="report-item" onclick="window.open('{{ img }}', '_blank');" style="background-image: url('{{ img }}');">
                          <div class="overlay">Open Image</div>
                        </div>
                      {% endfor %}
                      {% for txt in report.txts %}
                        <div class="report-item" onclick="window.open('{{ txt }}', '_blank');">
                          <iframe src="{{ txt }}"></iframe>
                          <div class="overlay">Open Text</div>
                        </div>
                      {% endfor %}
                      {% for pdf in report.pdfs %}
                        <div class="report-item" onclick="window.open('{{ pdf }}', '_blank');">
                          <iframe src="{{ pdf }}"></iframe>
                          <div class="overlay">Open PDF</div>
                        </div>
                      {% endfor %}
                  {% else %}    
                    <p>No Documents Available to Review</p>
                  {% endif %}
                  
                </div>
                {% if report.status == "new" %}
                    <div class="review-delete-container">
                      <form method="POST" action="{% url 'main:bring_report_to_review' %}">
                          {% csrf_token %}
                          <input type="hidden" name="report_id" value="{{ report.id }}">
                          <button type="submit" class="bring-to-review-button">Bring To Review</button>
                      </form>
                    <!--for deleting report-->
                    <div style="text-align: right;"> 
                        <form action="{% url 'main:delete_report_admin' report.id %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="delete-report_admin" onclick="return confirm('Are you sure you want to delete this report?');">Delete Report</button>
                        </form>
                    </div>
                    </div>
                <!--for deleting report-->
                {% elif report.status == "in_review" %}
                  <form method="POST">
                    {% csrf_token %} {{ resolve_form.as_p }}
                    <input type="hidden" name="form_id" value="{{ report.id }}" />
                    <button type="submit" class="reports-button" >Resolve</button>
                  </form>
                  <!--for deleting report-->
                  <div style="text-align: right;"> 
                    <form action="{% url 'main:delete_report_admin' report.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="delete-report_admin" onclick="return confirm('Are you sure you want to delete this report?');">Delete Report</button>
                    </form>
                </div>
                </div>
            <!--for deleting report-->
                {% else %}
                  <!--for deleting report-->
                  <div style="text-align: right;"> 
                    <form action="{% url 'main:delete_report_admin' report.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="delete-report_admin" onclick="return confirm('Are you sure you want to delete this report?');">Delete Report</button>
                    </form>
                </div>
                </div>
            <!--for deleting report-->
                {% endif %}
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% include 'main/footer.html' %}
