{% load static %}
<!DOCTYPE html>
{% include 'main/header.html'%}
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'main/global.css' %}" />
    <link rel="stylesheet" href="{% static 'main/admin-view.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='{% static 'main/reports_show.js' %}'></script>
  </head>
  <body>
    <h1 class="admin-title">Admin Dashboard</h1>
    <div class="box">
      <h2 class="create-event-title">Create Event</h2>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <form method="POST">
        {% csrf_token %} {{ event_form.as_p }}
        <button type="submit" name="upload_button">Upload</button>
      </form>
    </div>

    <div class="box">
      <div> 
        <h2 class="reports-title">Reports</h2>
      </div>
      
      {% for report in reports %}

      {%if report.is_in_review%}
        <button class="report-in-review" onclick="reports_show({{ report.id }})">
          View report for {{ report.event }} "{{ report.description|truncatechars:18}}"        
        </button>
      {%elif report.is_resolved%}
      <button class="report-resolved" onclick="reports_show({{ report.id }})">
        Resolved report for {{ report.event }} "{{ report.description|truncatechars:18}}"      
      </button>
      {%else%}
        <button class="report-never-viewed" onclick="reports_show({{ report.id }})">
          View report for {{ report.event }} "{{ report.description|truncatechars:18}}"
        </button>
      {%endif%}
      

      <div class="report-card" id="{{ report.id }}">
        {% if report.is_in_review %}
        <p class="status-tag">In Review</p>
        {% elif report.is_resolved %}
        <p class="status-tag">Resolved</p>
        {% else %}
        <p class="status-tag">Not Reviewed</p>
        {% endif %}
        <p class="report-event-title">{{ report.event }}</p>
        <p class="report-text"><bold>Report:</bold> {{ report.description }}</p>
        <p class="report-date-text">Report filed on {{ report.date_time }}</p>
        <p class="report-section-header">Images</p>
        <div class="report-section-wrapper">
          {% for img in report.images %}
          <div class="report-image" style="background-image: url('{{ img }}')">
            <div
              class="report-download"
              onclick="window.location.href='{{ img }}'"
            >
              Download
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="report-section-header">Text Uploads</p>

        <div class="report-section-wrapper">
          {% for txt in report.txts %}
          <div class="report-iframe-wrapper">
            <iframe class="report-iframe" src="{{ txt }}"> </iframe>
            <div
              class="report-download"
              onclick="window.location.href='{{ txt }}'"
            >
              Download
            </div>
          </div>
          {% endfor %}
        </div>
        <p class="report-section-header">PDF Uploads</p>
        <div class="report-section-wrapper">
          {% for pdf in report.pdfs %}
          <div class="report-iframe-wrapper">
            <iframe class="report-iframe" src="{{ pdf }}"> </iframe>
            <div
              class="report-download"
              onclick="window.location.href='{{ pdf }}'"
            >
              Download
            </div>
          </div>
          {% endfor %}
        </div>
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="form_id" value="{{ report.id }}" />
          <button type="submit">Resolve</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
{% include 'main/footer.html' %}
