<!DOCTYPE html>
<html>
  <head>
    <title>Upload Documents</title>
     <style>
      body {
        font-family: Helvetica, Arial, sans-serif;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Upload Documents</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>
    <!-- skip document upload button -->
    <a href="{% url 'main:index' %}">Skip</a>
  </body>
</html>
