{% load static %}
<!DOCTYPE html>
<html>
  {% include 'main/header.html' %}
  <head>
    <title>Upload Documents</title>
    <link rel="stylesheet" href="{% static 'main/document_upload.css' %}" />
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
  </head>
  <body>
    <h1>Upload Documents</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>
    <!-- skip document upload button -->
    <a href="{% url 'main:index' %}">Skip</a>
  </body>
  {% include 'main/footer.html' %}
</html>
