{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'global/global.css' %}" />
    <link rel="stylesheet" href="{% static 'main/footer.css' %}" />
  </head>
  <body>
    <footer class="footer fixed-bottom">
      <div class="container">
        <p>
          This system is a class project and is not monitored. Please do not
          submit any real information.
        </p>
        <p>
          If you need help or support, please visit
          <a href="https://s24.cs3240.org/project.html">this resource</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
