{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'global/global.css' %}" />
    <link rel="stylesheet" href="{% static 'main/header.css' %}" />
      <link rel="icon" href="{% static 'main/hoosSnitchin_favicon_dark (1).png' %}" type="image/x-icon">
  </head>
  <body>
    <header>
      <div class="horizontal-container">
        <button class="nav-button" onclick="window.location.href='/';">
          Home
        </button>
        {% if user.is_authenticated %}
        <button
          class="nav-button"
          onclick="window.location.href='/my_reports/';"
        >
          My Reports
        </button>
        {% endif %}
      </div>
      <a href="/" class="title-wrapper"><h1 class="title">Hoos<strong>Snitchin</strong></h1></a>
      <div class="horizontal-container">
        {% if user.is_authenticated %} 
          {% if user.is_site_admin %}
            <button
              class="nav-button"
              onclick="window.location.href='/admin_view/new';"
            >
              Admin Dashboard
            </button>
          {% endif %}
          <button
            class="nav-button"
            onclick="window.location.href='/accounts/logout/';"
          >
            Logout
          </button>
          <p class="username">Username: <strong>{{ user.username }}</strong></p>
        </div>
        {% else %}
          <button
            class="nav-button"
            onclick="window.location.href='/accounts/login/';"
          >
            Login
          </button>
        {% endif %}
      </div>
    </header>
  </body>
</html>
