<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Username: {{ user.username }}</h1>
    <h2>First Name: {{ user.first_name }}</h2>
    <h3>Last Name: {{ user.last_name }}</h3>
    {% if user.is_site_admin %}
    <p>You are an admin!</p>
    {% else %}
    <p>You are not an admin!</p>

    {% endif %}
    {% if user.school_membership_id%}
        <p>You are a member of {{ user.school_membership.name }}!</p>
        <a href="/{{user.school_membership_id}}">Take me to my college's message board!</a>
        <p>Alternatively, select from this dropdown:</p>
        {% for school in schools %}
            <li><a href="/{{ school.id }}">{{ school.name }}'s Message Board</a></li>
        {% endfor %}
    {% else %}
    <p>You have not selected a school yet!</p>
    <a href="/select_school">Pick School</a>
    {% endif %}


    <br>
    <br>
    <a href="/accounts/logout/" id="logout">Logout</a>
    {% else %}
    <h1>You should log in!</h1>
    <a href="/accounts/login/">Login</a>
    {% endif %}
  </body>
</html>
