{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'main/home_events.css' %}" />
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
</head>


<body>
    
    {% if user.is_authenticated %}
        {% if user.is_site_admin %}
            <h3>Welcome, Admin {{ user.first_name }} {{ user.last_name }}</h3>
            <button onclick="window.location.href='/admin-view/';">Admin Dashboard</button>
        {% else %}
            <h3>Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
        {% endif %}
    {% else %}
        <h3>Welcome, Guest</h3>
    {% endif %}


    <!-- Events Section Start -->
    <div class="Events_Title"><h4>Events</h4></div>
    {% for event in events %}
        <div class="event">
            <div class="event-content">
            <div class="eventname">{{ event.title }}</div>
            <div class="event-description">Description: {{ event.description }}</div>
        </div>
            {%  if user.is_authenticated %}
            <button class="report-button" onclick="window.location.href='/report/';">File A Report</button>
            {% else %}
            <button class="report-button" onclick="window.location.href='/report/';">File A Report Anonymously</button>
            {% endif %}
        </div>
    {% endfor %}
    

</body>
{% include 'footer.html' %}
</html>
