<!DOCTYPE html>
{% load static %}

{% include 'header.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
    <title>User Reports</title>
</head>
<body>
    <h1>Reports for {{ request.user.username }}</h1>
    {% if reports %}
        <ul>
        {% for report in reports %}
            <li>
                <h2>{{ report.event.title }}</h2>
                <p>{{ report.description }}</p>
                <p>Date: {{ report.date_time }}</p>

                <!--For Status of Report-->
                {% if report.is_in_review %}
                    <p>Status: Report is in review by an admin.</p>
                {% elif report.is_resolved %}
                    <p>Status: Report is resolved by an admin.</p>
                {% else %}
                    <p>Status: Report is pending.</p>
                {% endif %}

                {% if report.document.all %}
                   Documents:
                    <ul>
                        {% for document in report.document.all %} <!-- Iterate over each document -->
                            <li>{{ document.title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No documents available.</p>
                {% endif %}
                
                <!--For Message from Admin-->
                {% if report.admin_notes %}
                    <p>Admin Notes: {{ report.admin_notes }}</p>
                {% else %}
                    <p>Admin have not made a message.</p>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No reports available.</p>
    {% endif %}
</body>
{%  include 'footer.html' %}
</html>
