<!DOCTYPE html>
<html>
  <head>
    <title>Select a School</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Hello, {{ user.username }}</h1>
    <form method="POST" action="{% url 'index' %}">
      {% csrf_token %}
      <label for="school">Select a school:</label>
      <select name="school" id="school">
        {% for school in schools %}
        <option value="{{ school.id }}">{{ school.name }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>
    <a href="/accounts/logout/" id="logout">Logout</a>
    {% else %}
    <h1>You should log in!</h1>
    <a href="/accounts/login/">Login</a>
    {% endif %}
  </body>
</html>