{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/header.css' %}">
</head>
<body>
    <header>
        <div onclick="window.location.href='/';">
            <h1>HoosSnitchin</h1>
        </div>

        {% if user.is_authenticated %}
            <div class="username"> Username: {{ user.username }}</div>
            <div class="logout-container">
                <div class="logoutbutton">
                    <button onclick="window.location.href='/accounts/logout/';" style="accent-color: darkred">Logout</button>
                </div>
            </div>
            <div class="myreport-container">
                <div class="myreportsbutton">
                    <button onclick="window.location.href='/my-reports/';">My Reports</button>
                </div>
            </div>
        {% else %}
            <div class="login-container">
                <div class="loginbutton">
                    <button onclick="window.location.href='/accounts/login/';">Login</button>
                </div>
            </div>
        {% endif %}

        <div class="event-container">
            <div class="vieweventbutton">
                <button onclick="window.location.href='/';">Home</button>
            </div>
        </div>
    </header>
</body>
</html>
