{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  </head>
  <body>
    <header>
      <div onclick="window.location.href='/';">
        <h1>HoosSnitchin</h1>
      </div>

      {% if user.is_authenticated %}
        <div class="username"> Username: {{ user.username }}</div>
        <div class="logoutbutton">
          <button onclick="window.location.href='/accounts/logout/';"  style="accent-color: darkred">Logout</button>
        </div>
      {% else %}
      <div class="loginbutton">
          <button onclick="window.location.href='/accounts/login/';">Login</button>
      </div>
      {% endif %}

      <div class="vieweventbutton">
        <button onclick="window.location.href='/home_events/';">View Events</button>
        </div>
    </header>
  </body>
</html>