<!DOCTYPE html>
<html>

  <head>
    <style>
      body, h1 {
        font-family: Helvetica, Arial, sans-serif;
      }
      header {
        text-align: center;
        color: #6495ED;
        padding: 20px;
        cursor: pointer;
      }
      .username {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .logoutbutton {
      position: absolute;
      top: 40px;
      right: 10px;
    }
    .loginbutton{
      position: absolute;
      top: 10px;
      right: 10px;
    }

    </style>
  </head>
  <body>
    <header>
      <div onclick="window.location.href='/';">
        <h1>HoosSnitchin</h1>
      </div>

      {% if user.is_authenticated %}
        <div class="username"> Username: {{ user.username }}</div>
        <div class="logoutbutton">
          <button onclick="window.location.href='/accounts/logout/';"  style="accent-color: darkred">Logout</button>
        </div>
      {% else %}
      <div class="loginbutton">
          <button onclick="window.location.href='/accounts/login/';">Login</button>
      </div>
      {% endif %}
    </header>
  </body>
</html>